<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Content-Type" />
    <meta http-equiv="expires" content="0">
    <title>美信前端性能监控平台</title>
    <meta name="author" content="美信网络技术有限公司">
    <meta name="description" content="国美">
    <meta name="keywords" content="国美+APP">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
</head>

<body>
    <div id="app"></div>
    <!-- rev-hash -->
    <script src="/dist/js/vendor.min.js"></script>
    <script src="/dist/js/femonitor.min.js"></script>
    <!-- end -->
</body>

</html>
