<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Content-Type" />
    <meta http-equiv="expires" content="0">
    <title>美信前端性能监控平台</title>
    <meta name="author" content="美信网络技术有限公司">
    <meta name="description" content="国美">
    <meta name="keywords" content="国美+APP">
</head>

<body>
    Hello World
</body>

</html>
